*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
}
#app {
  margin: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}
p {
  margin: 0 0 0.7rem;
}
